
/**
 * InvisionApp logo.
 */

.logo[data-logo="InvisionApp"] {
  width: 0;
}

.logo[data-logo="InvisionApp"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="InvisionApp"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="InvisionApp"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
